<%- include('partials/header'); -%>

<div class="entry">
  <h3><%=date%></h3>
  <p class="entry-content"><%=entry%></p>
  <p class="entry-content"><%=tips%></p>
</div>


<%- include('partials/footer'); -%>
